body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#map, #map2013, #map2012  {
	height:100%;
	width: 70%;
}

.leaflet-popup {
    display: none !important; 
}

#info {
      position:absolute; 
      top: 0; 
      right: 0;
      bottom: 0; 
      width: 30%; 
      background:#e6e2db; 
      color: #4d4d4d;
      padding:20px;
      border-left: 2px solid #e6e2db;
  }

.header {
	width: 100%;
}

#info p, #info li  { 
  font-size: 12px;
  line-height: 15px;
}

.bold {
  font-weight: 700;
}


#info h1 { 
  margin-top:0; 
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed 
counter-reset: 
  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

a.read-more {
  padding-top: 10px;
  font-weight: 700;
  color: #219375;
  text-decoration: none;
  border-bottom: 2px solid #219375;
}

a.read-more:hover, a.view-all:hover {
  color: #635C45;
  text-decoration: none;
  border-bottom: 2px solid #635C45;
}

a.view-all {
  color: #219375;
  text-decoration: none;
}


.ippf-div-icon {
  background: transparent;
  border: none;
}

 
.leaflet-marker-icon .number{
  position: relative;
  top: -30px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #005395;
}


.leaflet-marker-icon .number:hover {
  font-weight: 700;
  color: #002F55;
}

.info-image {
  width: 250px;
}


#filters {
    position: absolute;
    bottom: -95px;
    left: 5px;
    z-index: 100;
    padding: 0px 5px 5px 5px;
    background: #fff;
}

#filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#options {line-height: 18px;}

.filter-title {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted #e6e2db;
}

.filter-title a {
  text-decoration: none;
}

.view-all:after {
    content: " ▼";
    font-size: 8px;
    height: 8px;
    padding-left: 5px;
    vertical-align: middle;
}

.closed:after {
  content: " ▲";
}

ul#options {
  overflow:hidden;
  width: 600px;
}

#options li  { 
  float:left;
  display:inline;
  width:50%;
  color: #757575;
} 

#options li:hover  { 
   color: #212121;
} 

input[type=checkbox].css-checkbox {
              display:none;
            }


            input[type=checkbox].css-checkbox + label.access, 
            input[type=checkbox].css-checkbox + label.education, 
            input[type=checkbox].css-checkbox + label.abortion,
            input[type=checkbox].css-checkbox + label.violence,
            input[type=checkbox].css-checkbox + label.srhbudget,
            input[type=checkbox].css-checkbox + label.hiv,
            input[type=checkbox].css-checkbox + label.cervicalcancer,
            input[type=checkbox].css-checkbox + label.conception,
            input[type=checkbox].css-checkbox + label.knowledge,
            input[type=checkbox].css-checkbox + label.global,
            input[type=checkbox].css-checkbox + label.member-association,
            input[type=checkbox].css-checkbox + label.regional-office {
              padding-left:15px;
              height:10px; 
              display:inline-block;
              line-height:12px;
              background-repeat:no-repeat;
              background-position: 0 -40px;
              font-size:12px;
              vertical-align:middle;
              cursor:pointer;

            }

            label.access, label.education, label.abortion, label.violence,
            label.srhbudget, label.hiv, label.cervicalcancer, label.conception, 
            label.knowledge, label.global, label.member-association, label.regional-office     
            {
              background-image:url(images/csscheckbox.png);
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

                      

            input[type=checkbox].css-checkbox:checked + label.abortion {
              background-position: 0 0px;
            }

            input[type=checkbox].css-checkbox:checked + label.cervicalcancer {
              background-position: 0 -60px;
            }

            input[type=checkbox].css-checkbox:checked + label.conception {
              background-position: 0 -80px;
            }

            input[type=checkbox].css-checkbox:checked + label.education {
              background-position: 0 -100px;
            }

            input[type=checkbox].css-checkbox:checked + label.hiv {
              background-position: 0 -120px;
            }

            input[type=checkbox].css-checkbox:checked + label.access {
              background-position: 0 -200px;
            } 
            
            input[type=checkbox].css-checkbox:checked + label.srhbudget {
              background-position: 0 -220px;
            }

            input[type=checkbox].css-checkbox:checked + label.violence {
              background-position: 0 -240px;
            }

            input[type=checkbox].css-checkbox:checked + label.knowledge {
              background-position: 0 -140px;
            }

            input[type=checkbox].css-checkbox:checked + label.global {
              background-position: 0 -20px;
            }
            
            input[type=checkbox].css-checkbox:checked + label.member-association {
              background-position: 0 -160px;
            }

            input[type=checkbox].css-checkbox:checked + label.regional-office {
              background-position: 0 -180px;
            }

            

            

            